  @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,700;1,200;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    justify-content: center;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 200;
    font-style: italic;
}

.contenedor { 
    width: 700px;
    padding: 25px;
    background-color: #aaa;  /* RRGGBB => RGB  =>  aaaaaa => aaa */

}

.grupo {
    background-color: #eee;
    margin: 20px;
}

/* Pseudoclase: first-child  : Dentro de un conjunto de elementos estoy seleccionando el primero */   

.parrafos p:first-child {
    color: blueviolet;
    font-weight: 700;
}

/* Pseudoclase: Last-child : Dentro de un conjunto de elementos estoy seleccionando el ultimo */

.parrafos p:last-child {
    color: crimson;
    font-weight: 200;
}


/* Pseudoclase first-of-type */





/* Pseudoclase last-of-type */



